:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green:#31d0aa;
    --color-slate: #434455;
    --color-light-slate:#8e8f99;
    --color-cornflover: #e7e9fc;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white:#ffffff;
    --color-dairy: #fcfcfc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
img {
    display: block;
}
body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}
.header {
    background-color: #FFFFFF;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #E7E9FC;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    align-items: center;
    
    
}
.header-logo {  
 font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-iris);
}

.header-logo-studio {
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color-navy-blue);
margin-right: 76px;
}
.header-logo:hover {
     color:  #404BBF;
     
}
.header-logo-studio:hover {
    color: blue;
}
.header-list { 
    gap: 40px;
}

.header-item {

}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #2E2F42;

}
.header-link:hover {
    color:  #404BBF;
}
.header-mailto {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}
.header-mailto:hover {
color: #404BBF;
}
.header-phone {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
text-transform: uppercase;
color:var(--color-slate);
}
.header-phone:hover {
    color:  #404BBF;
}
/* ----------------Hero-------------------- */
.hero {
    height: 600px;
    background: #2E2F42;
    padding-top : 188px;
    padding-bottom: 188px;
   
}
.hero-list {
}
.list {
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--color-white);
    width: 496px;
    margin-left: auto;
    margin-right: auto;
     margin-bottom: 48px;
}
.hero-button {
    background: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color:var(--color-white);
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    
}

.hero-button:hover {
    background-color: #404BBF;
color:  #404BBF;
}
.hero-button:focus {
    color:  #404BBF;
}  
   /* --------------about----------- */
.about {
   padding-top: 120px;
   padding-bottom: 120px;
}
.about-container {
 
}
.about-list {  
display: flex;  
flex-basis: calc ((100%-72px)/4);
flex-wrap: wrap;
padding: 120px;
margin-left: 0 auto;   
}

.about-item {    
}
.about-text {
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;

}
.about-bottom-text {
    font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--color-slate);
margin-top: 8px;
width: 264px;
height: 72px;
}

/*  -------------------work----- */

.work {
   
     padding-top: 0px;
     padding-bottom: 120px;
}
.work-text {
        font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--color-navy-blue);
margin-bottom: 72px;
}
.work-list {
    display: flex;  
}
.list {
}
/* ----------- team---------- */
.team {
 
   

}
.team-container {
    
    
}
.team-title {
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.team-list {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
 padding-bottom: 120px;
 background-color: #F4F4FD;
}
.team-wrap {
padding: 32px 0;
background-color: #ffffff;
}
.list {
}
.team-text {
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
background-color:  #FFFFFF;
margin-bottom: 8px;
}
.team-bottom-text {
    font-size: 16px;
line-height: 1.50;
text-align: center;
letter-spacing: 0.02em;
color: #434455;

}
/*    ---------footer---- */
.footer {
    background: #2E2F42;
    padding-top: 106px; ;
    padding-bottom: 100px;

}
.footer-logo {
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-iris);
}
.footer-logo-studio {
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #F4F4FD;  
}
.footer-logo:hover {
    color: blueviolet;
}
.footer-logo-studio:hover {
    color: blue;
}

.footer-text {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #F4F4FD;
width: 264px;
margin-top: 16px;

}
/* ---------filters--------- */


.filters-button1-link {
font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
 padding: 12px 24px;
 width: 69px;
 height: 48px;
 background: #404BBF;
border: none;
border-radius: 4px;
}

.filters-button1-link:focus {
    color:#FFFFFF;
}
.filters-button-list {
display: flex;
justify-content: center;
margin: 0 auto;
gap: 24px;
}
.list {  
padding: 0px;
gap: 40px;
 
}
.filters-item {
   
}


.filters-button-link {
    font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.04em;
color: var(--color-iris);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;


}


.filters-button-link:hover {
    background-color: #404BBF;
    color:#FFFFFF;
}
.filters-button-link:focus {
    color: #FFFFFF ;
}
.services-container-list {
    padding: 32px 16px;
    border: 1px; 
    border-top: none;  
   margin-bottom: 72px;
}
.list {
 display: flex;
flex-wrap: wrap;
   gap: 48px 24px;
   
}
.services-item {
}
.services {
    padding: 32px 16px 32px 16px;
    border-left: 1px solid #E7E9FC ;
    border-right: 1px solid #E7E9FC ;
    border-bottom: 1px solid #E7E9FC;

}
.services-list {
    display: flex;
flex-wrap: wrap;
   gap: 48px 24px; 
}
.services-title {
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
margin-bottom: 8px;
}
.services-text {
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;

color: var(--color-slate);
}