:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green:#31d0aa;
    --color-slate: #434455;
    --color-light-slate:#8e8f99;
    --color-cornflover: #e7e9fc;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white:#ffffff;
    --color-dairy: #fcfcfc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}
.header {
    background-color: #FFFFFF;
    height: 72px;
    padding-top: 32px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    align-items: center;
    
}
.header-logo {  
 font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-iris);
}

.header-logo-studio {
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color-navy-blue);
margin-right: 76px;
}
.header-logo:hover {
     color: blueviolet;
     
}
.header-logo-studio:hover {
    color: blue;
}
.header-list {
    display: flex;
    gap: 40px;
}
.list {
}
.header-item {
    margin-right: 40px;
}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-link:hover {
    color: red;
}
.header-mailto {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}
.header-mailto:hover {
color: red;
}
.header-phone {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
text-transform: uppercase;
color:var(--color-slate);
}
.header-phone:hover {
    color: red;
}
/* ----------------Hero-------------------- */
.hero {
    height: 600px;
    background: #2E2F42;
    padding-top : 108px;
   
}
.hero-list {
}
.list {
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--color-white);
    margin-bottom: 20px;
 
}
.hero-button {
    background: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color:var(--color-white);
    cursor: pointer;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
}
.btn {
    margin-top: 48px;
}
.hero-button:hover {
    background-color: #404BBF;
color:  #404BBF;
}
.hero-button:focus {
    color:  #404BBF;
}  
   /* --------------about----------- */

.about-list {
    display: flex; 
padding: 120px;
margin: 120px 0px 120px 0px;
    
    
}
.list {
}
.about-item {
    
flex-basis: calc ((100%-72px)/4);
    
}
.about-containor {
    height: 344px;

   
}
.about-text 
{
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;
}
.about-bottom-text {
    font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--color-slate);
}

/*  -------------------work----- */
.work-container {
    height: 412px;
}
.work-text {
        font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var();
}
.work-list {
    display: flex;
    right: 24px;
    box-sizing: border-box;
    width: 360px;
    height: 300px;
   
}
.list {
}
/* ----------- team---------- */
.team-container {
    height: 732px;
}
.team-title {
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-list {
    display: flex;
}
.list {
}
.team-text {
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-bottom-text {
    font-size: 16px;
line-height: 1.50;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
/*    ---------footer---- */
.footer {
    background: #2E2F42;
    height: 312px;
}
.footer-logo {
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-iris);
}
.footer-logo-studio {
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #F4F4FD;  
}
.footer-logo:hover {
    color: blueviolet;
}
.footer-logo-studio:hover {
    color: blue;
}

.footer-text {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #F4F4FD;
}
/* ---------filters--------- */
.filters {
}
.filters-button-list {
}
.list {
}
.filters-item {
}
.filters-button-link {
    font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--color-iris);
}
.filters-button-link:hover {
    background-color: #404BBF;
    color:#FFFFFF;
}
.filters-button-link:focus {
    color: #FFFFFF ;
}
.services-list {
}
.list {
}
.services-item {
}
.services-title {
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
}
.services-text {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--color-slate);
}