:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green:#31d0aa;
    --color-slate: #434455;
    --color-light-slate:#8e8f99;
    --color-cornflover: #e7e9fc;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white:#ffffff;
    --color-dairy: #fcfcfc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
img {
    display: block;
}
body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
    
}
.header {
    background-color: #FFFFFF;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #E7E9FC;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    align-items: center;   
}
.header-list { 
    display: flex;
    gap: 40px;
}
.header-contact-list {
    display: flex;
    gap: 40px;
}
.header-logo {  
 font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-iris);
transition: color 250ms ;
transition: color 250ms cubic-bezier(cubic-bezier(0.4, 0, 0.2, 1));
}

.header-logo-studio {
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color-navy-blue);
margin-right: 76px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo:hover {
     color:  #404BBF;
     
}
.header-logo-studio:hover {
    color: blue;
}


.header-item {

}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #2E2F42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-link:hover {
    color:  #404BBF;
}
.header-mailto {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}
.header-mailto:hover {
color: #404BBF;
}
.header-phone {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
text-transform: uppercase;
color:var(--color-slate);
}
.header-phone:hover {
    color:  #404BBF;
}
.current {
    position: relative;
}
.current::after {
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 44px;
    border-radius: 2px;
    background: #404BBF;
display: block;
}
/* ----------------Hero-------------------- */
.hero {
    height: 600px;
    max-width: 1440px;
    background: #2E2F42;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top : 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--color-white);
    width: 496px;
    margin-left: auto;
    margin-right: auto;
     margin-bottom: 48px;
}
.hero-button {
    background: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color:var(--color-white);
    margin-bottom: 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.hero-button:hover {
    background-color: #404BBF;
color:  #404BBF;
}
.hero-button:focus {
    color:  #404BBF;
}  
   /* --------------about----------- */
.about {
   padding-top: 120px;
   padding-bottom: 120px;
}
.about-container {
 
}
.about-list {  
display: flex;  
flex-basis: calc ((100%-72px)/4);
flex-wrap: wrap;
gap: 24px;
margin-left: 0 auto;
}

.about-item-wrap {  
    width: 264px; 
    height: 120px; 
    background-color: #F4F4FD;
    border-radius: 4px;
    display: flex;
    align-items:center ;
    justify-content: center;
    margin-bottom: 8px;
}
.about-text {
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;

}
.about-bottom-text {
    font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--color-slate);
margin-top: 8px;
width: 264px;
height: 72px;
}
.policy-icons {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

/*  -------------------work----- */

.work {
   
     padding-top: 0px;
     padding-bottom: 120px;
}
.work-text {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--color-navy-blue);
margin-bottom: 72px;
}
.work-list {
    display: flex;  
    gap: 24px;
}

/* ----------- team---------- */

.team section {
    
 background-color: #F4F4FD;      
}
.team-title {
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.team-list {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
 padding-bottom: 120px;
}
.team-wrap {
padding: 32px 0;
background-color: #ffffff;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text {
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
background-color:  #FFFFFF;
margin-bottom: 8px;
}
.team-bottom-text {
    font-size: 16px;
line-height: 1.50;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 8px;

}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;

}
.team-link-icon {
  
}
.team-soc-link {
     display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
   justify-content: center;
   align-items: center;
    fill: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover {
    background-color: #404BBF;
}
.customers {
    
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {

}
.customers-box {
  
   

    width: 1128px;
    height: 200px;
    left: 156px;
    top: 2568px;
    
}

.customers-text {
    
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;

}
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
    gap: 24px;   
}
.list {
  list-style: none;
}
.customers-item {
    text-decoration: none;
}
.customers-link {
    display: flex;
  
    align-items: center;
    justify-content: center;
   
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.link {
}
.customers-link:is(:hover,:focus) {
    border-color: #404BBF;
    color: #404BBF;
}
.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.customers-icon:is(:hover,:focus) {
    border: 1px solid #404BBF;
}
/*    ---------footer---- */
.footer {
    background: #2E2F42;
    padding-top: 106px; ;
    padding-bottom: 100px;
   
    height: 312px;
    left: 0px;
    top: 2888px;  
}
.footer-container {
    display: flex;
align-items: start;

}

.footer-logo {
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-iris);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-studio {
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #F4F4FD;  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 120px;
}

.footer-logo:hover {
    color: blueviolet;
}
.footer-logo-studio:hover {
    color: blue;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em; 
    color: #F4F4FD;
width: 264px;
margin-top: 16px;
margin-bottom: 18px;
text-transform: none;
}
.footer-soc-box {
  

left: 540px;

top: 2988px;

}
.footer-soc-text {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.footer-soc {
   
   
width: 540px;
height: 80px;
left: 540px;
top: 2988px;
bottom: 132px;
color: #ffffff;
}
.footer-soc-list {
    display: flex;
    
    justify-content: center;
    gap: 24px; 
}
.footer-soc-link {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
   justify-content: center;
   align-items: center;
    fill: #ffffff;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover {
    background-color: #31D0AA;
}
/* ---------filters--------- */


.filters-button1-link {
font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #ffffff;
 padding: 12px 24px;
 width: 69px;
 height: 48px;
 background: #404BBF;
border: none;
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.filters-button1-link:hover {
    box-shadow:0px 1px 6px #404BBF
}

.filters-button1-link:focus {
    color:#FFFFFF;
}
.filters-button-list {
display: flex;
justify-content: center;
margin-bottom: 72px;
gap: 24px;
}
.filters-item {
   
}

.filters-container {

}

.filters-button-link {
    font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.04em;
color: var(--color-iris);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
background-color: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) , box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.filters-button-link:hover {
    background-color: #404BBF;
    color:#FFFFFF;
    box-shadow: 0px 1px 6px #8e8f99;
}
.filters-button-link:focus {
    color: #FFFFFF ;
}
.services-box {
    width: 360px;
height: 420px;
left: 156px;
top: 288px;
background: #FFFFFF;

 box-shadow: 1px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.services-container-list {
    padding: 32px 16px;
    border: 1px; 
    border-top: none;  
   margin-bottom: 72px;
   display: flex;
   flex-wrap: wrap;

  
    
}


.services-item {
    
    
}


.services-cover-wrap {
    position: relative;
    overflow: hidden;
  
}

.services-cover-text {
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    background-color:  #4D5AE5;
    padding: 32px;
    height: 100%;
    transform: translateY(100%);  
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.services-item:hover .services-cover-text {
   transform: translate(0);

}
.services {
    
    padding: 32px 16px 32px 14px;
    border-left: 1px solid #E7E9FC ;
    border-right: 1px solid #E7E9FC ;
    border-bottom: 1px solid #E7E9FC;

        
}

.services-box:hover {
    box-shadow:2px 1px 6px #8e8f99
}
.services-list {
    display: flex;
flex-wrap: wrap;
   gap: 48px 24px; 
}
.services-title {
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
margin-bottom: 8px;
}
.services-text {
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;

color: var(--color-slate);
}
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.16);
    transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
position: absolute;
width: 408px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(1) rotate(0);
background-color: #FFFFFF;
border-radius: 4px;
padding: 24px;
transition: transform 250ms linear;

}
.backdrop .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden.modal {
    transform: translate(-50%,-50%) scaley(0) rotate(-90deg);
}

.modal-close-btn {
   position: absolute; 
   display: flex;  
   width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 20px;
    right: 20px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:  #E7E9FC;
}
.modal-close-btn:hover {
    background: #404BBF
}
.button-icon {
   display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
   justify-content: center;
   align-items: center;  
   fill: currentColor;
}
.button-icon:hover {
    fill:#FFFFFF;
}



.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
 }
 .modal-form {
    position: relative;
    width: 360px;
    height: 486px;

   
 }
 .modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
   padding-top: 48px;
   margin-bottom: 16px; 
 } 
.modal-field {
    width: 360px;
    height: 52px;
  margin-bottom: 26px;
  
}

 .modal-input {  
   
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    margin-top: 26px;
    outline: transparent ;
    font-size: 14px;
    background-repeat: no-repeat;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
    padding-left: 38px;
    fill: currentColor;
 }
 .modal-input:focus {
     border-color: #4D5AE5;
 }
 .modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-icon {
    position: absolute;
   left: 10px;
    top: 70%;
    transform: translateY(-50%);
    fill: currentColor;
    
 }

.input-wrap {
    position: relative;
    margin-top: 0;
  

    
 }
 .modal-close-btn {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    align-items: center;
    justify-content: center;
    fill: var(--color-footer);
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .input-text1 {
    display: inline-block;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
     
 }
 .input-text2 {
    display: inline-block;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #8E8F99;
 }

 .modal-textarea {
    width: 360px;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    margin-top: 26px;
    resize: none;  
   padding-left: 16px;
   padding-top: 8px;
 }

.modal-textarea:hover {
    border-color: #4d5ae5;
}
.modal-btn {
display: flex;
width: 169px;
height: 56px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 16px 32px;
gap: 10px;
color:var(--color-white);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
align-items: center;
letter-spacing: 0.04em;
justify-content: center;
margin: 0 auto;    
}
.modal-check {
     width: 360px;
     height: 16px;
     position: absolute;
     
}
 .check-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 4px;
    margin-bottom: 24px;
    color: #8e8f99;
 }
 .check-text span {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
     fill: transparent;
    
 }
 .privacy-policy {
    color: #4D5AE5;
 }
 
 .input-check:checked +.check-text span {
    background-color: #404BBF;;
    border: none;
    fill: #F4F4FD;
 }
 .privacy-policy {
    margin-left: 4px;
 } 
 .footer-subscribe {
    margin-left: auto;
   width: 453px;
   height: 80px;

 } 

 
.subscribe-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
padding-bottom: 16px;

}
.subscribe-form {
  display: flex;

 
    
}
.subscribe-input {
   
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 24px; 
    background-color: transparent;
}
.subscribe-button {
    
 display: flex;

 width: 140px;    
 height: 40px;    
border-radius: 4px;   
border: transparent;  
font-family: inherit;    
font-weight: 500;    
 font-size: 16px;    
line-height: 1.5;    
align-items: center;   
text-align: center;   
letter-spacing: 0.04em;   
cursor: pointer;    
padding: 8px 24px;   
color:#FFFFFF ;  
 background-color: #4D5AE5;  
 }
    

.subscribe-button-text {
    width: 165px;
    height: 40px;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
   
   
    
}
.telegram {
    display: flex;  
}
 